*{
  box-sizing: border-box;
}
.body{
  margin: 0;
}
.group1 {
  background-color: gold;
}
.group2{
  background-color:pink ;
}
.group3{
  background-color:lightgreen ;
}
.group4{
  background-color:skyblue ;
}
.group5{
  background-color: salmon;
}

/* 공통 레이아웃 */
.container {
  border: 3px solid olive;
  margin: 50px;
  display: grid;
  grid-template-rows: repeat(3,200px);
  gap: 24px;
}
.container2{
  border: 3px solid lightcoral;
  margin: 50px;
  width: 300px;
  height: 200px;
  background-color: pink;
}

.group1 {
 grid-area: box1;
}
.group2 {
 grid-area: box2;
}
.group3 {
 grid-area: box3;
}
.group4 {
 grid-area: box4;
}
.group5 {
 grid-area: box5;
}

/* 모바일 레이아웃 */
@media(max-width:768px){
  .container{
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: "box1 box2"
                         "box1 box3" 
                         "box4 box5";
  }

  .container2{
    display: none;
  }

}

/* 데스크탑 레이아웃 */

/* @media(min-width:769px){
  .container{
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:  "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
                          "box1 box1 box1 box1 box3 box3 box3 box3 box3 box4 box4 box4"
                          "box1 box1 box1 box1 none box5 box5 box5 box5 box5 box5 box5" ;
  }
} */


@media(min-width:769px){
  .container{
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:  "box2 box2 box2 box2 box2 box3 box3 box3 box3 box4 box4 box4"
                          "box1 box1 box1 none none box3 box3 box3 box3 box4 box4 box4"
                          "box1 box1 box1 none none box5 box5 box5 box5 box5 box5 box5" ;
  }
}