@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

.appHeader{
background-color: antiquewhite;
display: flex;
flex-flow: row wrap;
}

.memberOnly{
  background-color: aqua;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
.searchForm{
  display: inline-block;
  height: 200px;
}
.searchForm__group{
  background-color: aquamarine;
  display: flex;
  flex-flow: row nowrap;
}



/* 모바일 디바이스 (Mobile Device) */
@media (min-width: 320px) and (max-width: 768px){

}

/* 데스크탑 디바이스 (Desktop Device) */
@media (min-width: 769px) {
.buttonWrapper{
  display: none;
}
}

